{% extends 'ABCAdminBundle::layout.html.twig' %}
{% block header %}Add Product{% endblock %}
{% block body %}
	<form method="post" action="{{ path('ProductCreate') }}" {{ form_enctype(form) }}>
		<fieldset>
		<legend>Add Product</legend>
			{{ form_widget(form) }}
		</fieldset>
		<input type="submit" value="Create" />
	</form>
{% endblock %}