{% extends 'ABCAdminBundle::layout.html.twig' %}
{% block header %}Products{% endblock %}
{% block body %}
{% if app.session.hasFlash('good') %}
	<div class="flash good">
		<p>{{ app.session.flash('good') }}</p>
	</div>
{% endif %}
{% if app.session.hasFlash('bad') %}
	<div class="flash bad">
		<p>{{ app.session.flash('bad') }}</p>
	</div>
{% endif %}

<p><a href="{{ url('ProductCreate') }}">Add Product</a></p>
<table>
	<tr>
		<th>Product Name</th>
		<th>Price</th>
		<th>Stock</th>
		<th>&nbsp;</th>
	</tr>
	{% for product in products %}
	    <tr>
	    	<td>{{ product.name }}</td>
	    	<td>{{ product.price }}</td>
	    	<td>{{ product.stock }}</td>
	    	<td><a href="{{ path('ProductDelete', {'id': product.id}) }}">delete</a></td>
	    </tr>
	{% endfor %}
</table>
{% endblock %}