{% extends 'ABCAdminBundle::layout.html.twig' %}
{% block header %}Edit Customer{% endblock %}
{% block body %}
	<form method="post" action="{{ path('CustomerEdit', {'id': customer.id}) }}" {{ form_enctype(form) }}>
		<fieldset>
		<legend>Edit Customer</legend>
			{{ form_widget(form) }}
		</fieldset>
		<input type="submit" value="Update" />
	</form>
{% endblock %}