{% extends '::base.html.twig' %}
{% block header %}Customers{% endblock %}

{% block body %}
{% if app.session.hasFlash('good') %}
	<div class="flash good">
		<p>{{ app.session.flash('good') }}</p>
	</div>
{% endif %}
{% if app.session.hasFlash('bad') %}
	<div class="flash bad">
		<p>{{ app.session.flash('bad') }}</p>
	</div>
{% endif %}
{% for customer in customers %}
	<div class="customer">
		<div>
			<h2>{{ customer.firstName }} {{ customer.lastName }}</h2>
			<p class="heading-link">[<a href="{{ url('CustomerEdit', {'id': customer.id}) }}">Edit</a>]</p>
		</div>
		<div class="details">
			<p><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></p>
			<p>{% if customer.streetAddress %}{{ customer.streetAddress }}<br />{% endif %}
		 	   {% if customer.suburb %}{{ customer.suburb }}, {% endif %}{{customer.postCode }}
		 	</p>
		 	<p>{{ customer.homePhone }}</p>
		 	<p>Number of appointments: {{ customer.numberAppointments }}</p>
		</div>
	</div>
{% endfor %}
{% endblock %}