<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ABC Optical{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <header><h1>
                {% block header %}
                    ABC Optical
                {% endblock %}
            </h1></header>
            
            {% block navigation %}
                {% include '::navigation.html.twig' %}
            {% endblock %}

            <div class="main" role="main">
                {% block body %}{% endblock %}
            </div>
        </div>
    {% block javascripts %}{% endblock %}
    </body>
</html>
