<nav class="mainnav">
	<ul>
		<li><a href="{{ path('Home') }}">Home</a></li>
		<li><a href="{{ path('ProductsList') }}">Products</a></li>
		<li><a href="{{ path('CustomersList') }}">Customers</a></li>
	</ul>
</nav>