table {
    border-collapse: collapse;
}


td, th {
    padding: 0.3em 1em;
    background-color: #EEE;
    border: 0.2em solid #fff;
}

th {
    text-align: left;
    background-color: #CCC;
}

.container {
    width: 960px;
    margin: auto;
}

.mainnav ul {
    margin: 0.8em 0;
    padding: 0;
}

.mainnav li {
    display: inline;
}

.mainnav li a {
    display: block;
    float: left;
    padding: 0.2em 0.8em;
    margin: 0 0 0.6em 0;
    background-color: #EEE;
}

.mainnav li a:hover {
    background-color: #AAA;
}

/* forms */
.main {
    clear: left;
    padding-top: 0.8em;
}

.main > p:first-child {
    margin-top: 0;
}

#db {
    background-color: #EEE;
    padding: 1em;
    margin-top: 4em;
    border: 2px solid #777;
    text-align: center;
}

#db h1 {
    margin-top: 0.3em;  
}

label {
    width: 8em;
    margin-right: 1em;
    display: block;
    float: left;
    clear: left;
    cursor: pointer;
}

form div {
    float: left;
    clear: both;
    background-color: #EEE;
    margin-bottom: 0.2em;
    padding: 0.5em;
}

form fieldset {
    border: none;
    margin: 0 0 1em 0;
    padding: 0; 
}

legend {
    text-indent: -999em;
    position: absolute; 
}

.customer {
    background-color: #EEE; 
    padding: 0.8em;
    margin: 0.3em 0;
}

.customer h2 {
    float: left;
    margin-top: 0;
    margin-right: 0.5em;
}

.customer .heading-link {
    padding-top: 0.35em;
}

.customer .details {
    clear: left;
}

.flash {
    padding: 0.3em;
    margin-bottom: 1em; 
}

.flash p {
    margin: 0;
}

.flash.good {
    color: #24B727;
    background-color: #EFE;
}

.flash.bad {
    color: #B72427;
    background-color: #FEE;
}